<div class="comments">
  <%
    i = 0;
    for comment in comments do
    %>
    <%if i > limit-1 || i > comments.length-1 then break end%>
  <%i = i + 1%>
    <div class="comment">
      <div class="comment-header">
        <div class="comment-author">
          <%= comment.author.name + ": " + comment.text%>
        </div>
      </div>
    </div>
  <%end%>
</div>