<div class="comments">
  <%
    i = 0;
    for commentO in comments do
    comment = Comment.includes([:author]).find(commentO.id)
    %>
    <%if i > limit-1 || i > comments.length-1 then break end%>
  <%i = i + 1%>
    <div class="comment">
      <%if (can? :manage, comment) || comment.author == current_user%>
        <%= button_to "Delete", '/deletecomment/' + comment.id.to_s, action: "destroy", method: :delete, class:"btn"%>
      <%end%>
      <div class="comment-header">
        <div class="comment-author">
          <%= comment.author.name + ": " + comment.text%>
        </div>
      </div>
    </div>
  <%end%>
</div>