
<h4>Create a comment here!</h4>
<p>Current User: <%= current_user.name %></p>
<%= form_with html:{class: "comment-form"} do |form| %>
  <%= form.text_area :text, size: "50x5", placeholder: "Comment Content" %>
  <%= form.submit "Comment" %>
<% end %>