<main>
<%= render :partial => "shared/user_container", locals: { :user => @user }%>
    <ul class="posts-container">
      <%
      for post0 in @user.posts do
      post = Post.includes([:author]).find(post0.id)
    %>
        
        <li>
          <%= render :partial => "shared/post_container", locals: { :post => post, :onClick => user_post_path(@user, post) }%>
          <%= render :partial => "shared/comments_container", locals: { :comments => post.recent_comments, :limit => 5}%>
          
          </li>
        
      <% end %>
    </ul>
    
</main>