<main>
    <ul class="posts-container">
      <% @user.posts.each do |post| %>
        <%= link_to user_post_path(@user, post) do %>
        <li>
          <%= render :partial => "shared/post_container", locals: { :post => post}%>
          <%= render :partial => "shared/comments_container", locals: { :comments => post.comments, :limit => 5}%>
          </li>
        <% end %>
      <% end %>
    </ul>
</main>