<main>
<div class="posts-container">
<%= render :partial => "shared/post_container", locals: { :post => @post }%>
<%= render :partial => "shared/comments_container", locals: { :comments => @post.comments, :limit=> 10 }%>
</div>
</main>